<div flex layout="column" ng-cloak>
    
    <md-button class="md-fab md-fab-bottom-right" aria-label="New expense" ng-click="showAddForm(selectedTab,$event)">
        <md-icon>add</md-icon>
    </md-button>

    <md-content flex>

        <md-tabs md-dynamic-height md-border-bottom md-swipe-content md-selected="selectedTab">
          <md-tab label="expenses">
            <md-content class="md-padding">

                <md-list>

                    <md-list-item class="md-2-line" ng-repeat="expense in currentMonth.expenses | filter:$root.globalSearch track by expense.id" ng-click="null">

                        <md-icon class="md-avatar">{{expense.icon}}</md-icon>

                        <div class="md-list-item-text">
                            <h3>{{ expense.label }}</h3>
                            <p>{{ expense.amount }} {{$root.user.currency}}</p>
                        </div>

                        <div class="md-secondary-container">
                            <md-menu md-offset="0 -7">
                                <md-button aria-label="Open more options menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button aria-label="Remove expense" md-autofocus ng-click="deleteExpense(expense)">Remove</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                    </md-list-item>

                </md-list>

            </md-content>
          </md-tab>

          <md-tab label="incomes">
            <md-content class="md-padding">

                <md-list>

                    <md-list-item class="md-2-line" ng-repeat="income in currentMonth.incomes  | filter:$root.globalSearch  track by income.id" ng-click="null">

                        <md-icon class="md-avatar">trending_up</md-icon>

                        <div class="md-list-item-text">
                            <h3>{{ income.label }}</h3>
                            <p>{{ income.amount }} {{$root.user.currency}}</p>
                        </div>

                        <div class="md-secondary-container">
                            <md-menu md-offset="0 -7">
                                <md-button aria-label="Open more options menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button aria-label="Remove income" md-autofocus ng-click="deleteIncome(income)">Remove</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                    </md-list-item>

                </md-list>

            </md-content>
          </md-tab>

          <md-tab label="info">
            <md-content class="md-padding">
              <h1 class="md-display-2">Info</h1>
              <p>Charts and so here</p>
            </md-content>
          </md-tab>
        </md-tabs>
        
    </md-content>
</div>