<md-dialog aria-label="Add expense">
  <form name="addExpenseForm" ng-cloak novalidate>
      
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add expense</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Label</label>
                <input name="label" ng-model="newExpense.label" required md-maxlength="20" minlength="4">
                <div ng-messages="addExpenseForm.label.$error" ng-show="addExpenseForm.label.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Amount</label>
                <input name="amount" ng-model="newExpense.amount" required type="number" step="0.01">
                <md-icon>{{currency}}</md-icon>
                <div ng-messages="addExpenseForm.amount.$error" ng-show="addExpenseForm.amount.$dirty">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </div>
          
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Category</label>
                <md-select name="type" ng-model="newExpense.typeId" aria-label="select type of expense" required>
                  <md-option ng-repeat="type in expenses" value="{{type.id}}">
                    {{type.label}}
                  </md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Date</label>
                <md-datepicker name="date" ng-model="newExpense.date" ng-required="true"></md-datepicker>
                <div ng-messages="addExpenseForm.date.$error" ng-show="addExpenseForm.date.$dirty">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </div>
          
      </div>
        
    </md-dialog-content>

    <md-dialog-actions layout="row">
        
      <span flex></span>
        
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
        
      <md-button ng-disabled="addExpenseForm.$invalid" ng-click="addExpense(newExpense)" md-autofocus>
        Save
      </md-button>
        
    </md-dialog-actions>
      
  </form>
</md-dialog>