<!--<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">-->
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>{{$root.user.username}}</div>
            <div>{{$root.user.email}}</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="year in user.menu.years track by year.id">
            <a flex class="md-button" ui-sref="economy.year({id:{{year.id}}})">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <md-icon>dashboard</md-icon>
                    </div>
                    <div class="inset">{{year.label}}</div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>
<!--</md-sidenav>-->