<md-dialog aria-label="Add expense">
  <form name="addExpenseForm" ng-cloak novalidate>
      
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
        <h2>Expense</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-disabled="addExpenseForm.$invalid" ng-click="addItem(newExpense)" md-autofocus>
            <md-icon aria-label="Save Expense">done</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Label</label>
                <input name="label" ng-model="newExpense.label" required md-maxlength="20" minlength="4">
                <div ng-messages="addExpenseForm.label.$error">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Amount</label>
                <input name="amount" ng-model="newExpense.amount" required type="number" step="0.001" min="0">
                <md-icon>{{currency}}</md-icon>
                <div ng-messages="addExpenseForm.amount.$error">
                    <div ng-message="number">You did not enter a valid number</div>
                    <div ng-message="min">You must not use negative values</div>
                    <div ng-message="step">You can work with 0.001 steps</div>
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </div>
          
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Category</label>
                <md-select name="type" ng-model="newExpense.typeId" aria-label="Select type of expense" required>
                    <md-option ng-repeat="type in expenses track by type.id" value="{{type.id}}">
                        {{type.label}}
                    </md-option>
                </md-select>
                <div ng-messages="addExpenseForm.type.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Date</label>
                <md-datepicker name="date" ng-model="newExpense.date" ng-required="true" md-open-on-focus></md-datepicker>
                <div ng-messages="addExpenseForm.date.$error">
                    <div ng-message="required">This is required!</div>
                </div>
            </md-input-container>
        </div>
          
      </div>
        
    </md-dialog-content>
      
  </form>
</md-dialog>