/* app css stylesheet */
#wrapper {
    width: 100%;
    height: 100%;
}
#login-box {
    background-color: rgb(48, 63, 159);
}

#login-box md-card {
    min-height: 400px;
}

#side-menu a.md-button {
    display: block;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

.user-avatar {
  border-radius: 99%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    transition: background-color 5000s ease-in-out 0s;
}
 