<!--<md-toolbar>-->

    <div class="md-toolbar-tools" ng-show="!showSearch">
        <md-button ng-click="openLeftMenu()" hide-gt-md aria-label="Menu">
            <small-user-avatar></small-user-avatar>
        </md-button>
        <h3 md-truncate flex>{{headerTitle}}</h3>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <md-icon>search</md-icon>
        </md-button>
    </div>


    <div class="md-toolbar-tools" ng-show="showSearch">
        
        <md-button ng-click="showSearch = !showSearch;$root.globalSearch=''" aria-label="Back">
            <md-icon style="color:rgb(158,158,158);">arrow_back</md-icon>
        </md-button>
        
        <md-input-container class="md-block" md-theme="input" style="height: 25px;" flex>
            <label>Enter search</label>
            <input type="text" ng-model="$root.globalSearch" focus-when="showSearch" autocomplete="off">
        </md-input-container>
        
    </div>
<!--</md-toolbar>-->