<!--<md-toolbar>-->

    <div class="md-toolbar-tools">
        <md-button ng-click="openLeftMenu()" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h3 md-truncate flex>Economy App</h3>
        <md-button class="md-icon-button" aria-label="Settings">
            <ng-md-icon icon="settings"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Log out" ng-click="logout();">
            <ng-md-icon icon="power_settings_new"></ng-md-icon>
        </md-button>
    </div>

<!--</md-toolbar>-->