<!--<md-toolbar>-->

    <div class="md-toolbar-tools">
        <md-button ng-click="openLeftMenu()" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
        </md-button>
        <h3 md-truncate flex>Economy App</h3>
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon>settings</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Log out" ng-click="logout();">
            <md-icon>power_settings_new</md-icon>
        </md-button>
    </div>

<!--</md-toolbar>-->